<div class="span-7 first"><%= t ('activerecord.attributes.client.corporate_name') %>:</div>
<div class="span-7 last"><%= h client.corporate_name %></div>
<div class="span-7 first"><%= t ('activerecord.attributes.client.official_address') %>:</div>
<div class="span-7 last"><%= h client.official_address %></div>
<div class="span-7 first"><%= t ('activerecord.attributes.client.cif') %>:</div>
<div class="span-7 last"><%= h client.cif %></div>
<div class="span-7 first"><%= t ('activerecord.attributes.client.code')%>:</div> 
<div class="span-7 last"><%= h client.code %></div>

