<%= object_messages %>
<div id="elements-list" class="span-24 last">
  <% unless @clients.empty? %>
    <table id="table-element-list" summary="<%= t ('client.index.summary') %>">
      <%= render :partial => 'header' %>
      <%= render :partial => 'client', :collection => @clients %>
    </table>
  <% end %>
</div>
<%= new_item_button new_client_path, :title => t('client.new_item'), :image_alt => t('client.new_item'), :image_title => t('client.new_item') %>
<div id="pagination" class="span-24">
  <%= paginate(@clients) %>
</div>
