  <div  class="span-24 border">
    <div  class="span-10 first">
      <div class="span-5 first"><%= t 'print.order_code' %>:</div>
      <div class="span-5 last"><%= @order.code %></div>
    </div>
    <div class="span-14 last">
      <%= render :partial => 'clients/print/financial_data', :locals => {:client => @order.client} %>
    </div>
  </div>
  <div class="span-24 border">
    <div class="span-7 first"><%= t 'activerecord.attributes.client.delivery_address' %>:</div>
    <div class="span-17 last"><%= h @order.client.delivery_address %></div>
  </div>
  <%= render :partial => 'order_lines/print/order_lines' %>
  <% unless @order.exhibitors.blank? and @order.catalogs.blank? %>
    <div class="span-24 border ">
      <table>
        <caption><%= t 'print.others'%></caption>
        <thead>
          <tr>
            <th><%= t 'print.count' %></th>
            <th><%= t 'print.concept' %></th>
            <th><%= t 'print.unit_price' %></th>
            <th><%= t 'print.total' %></th>
          </tr>
        </thead>
        <%= render :partial => 'orders/print/others', :locals => {:order => @order} %>
      </table>
    </div>
  <% end %>
  <div class="span-24  border">
    <div class="span-10  first">	
      <table>
        <caption><%= t 'print.payment' %></caption>
        <%= render :partial => 'clients/print/payment', :locals => {:client => @order.client} %>
      </table>                         
    </div>
    <div class="span-14 last">
      <table>
        <%= render :partial => 'orders/print/total', :locals => {:order => @order} %>
      </table>
    </div>
  </div>
