<div id="header_order_line-information" class="span-24 miniform">
  <div class="first miniform span-3"><h3><%= t('activerecord.attributes.order_line.cover_pattern_id') %></h3></div>
  <div class="miniform span-3"><h3><%= t('activerecord.attributes.order_line.product_id') %></h3></div>
  <div class="miniform span-2"><h3><%= t('activerecord.attributes.order_line.count') %></h3></div>
  <div class="miniform span-2"><h3><%= t('activerecord.attributes.order_line.marked') %></h3></div>
  <div class="miniform span-3"><h3><%= t('activerecord.attributes.order_line.mark_id') %></h3></div>
  <div class="miniform span-2"><h3><%= t('activerecord.attributes.order_line.mark_price') %></h3></div>
  <div class="miniform span-2"><h3><%= t('general.thumbnail') %></h3></div>
  <div class="miniform span-5"><h3><%= t('activerecord.attributes.order_line.image_file_name') %></h3></div>
  <div class="last miniform span-2"><h3><%= t('general.actions') %></h3></div>
</div>
